{% extends "base.html" %}

{% block content %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{url_for('static',filename='about-bg.jpg')}}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <!--
                        <span class="subheading">Haha</span>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Currently I am a secutiry research engineer in Fireeye Lab.</p>
                <p>I work in email research team and my job is about phishing website detection.</p>
                <p>I have strong interests in web-security, coding, running, hiking and TV shows</p>
                <p>I love my girlfriend and python.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">Contact
                </div>
                <div class="panel-body">
                    <div>Email: <span id="email">(Are you a human?)</span>
                    </div>
                What is <span id="num_a"></span> + <span id="num_b"></span> ? <input id="result" maxlength=2 size=2></input>
                <button onclick="Validate()">Check</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <script type="text/javascript">

    var a = Math.ceil(Math.random() * 10);

    var b = Math.ceil(Math.random() * 10);       

    var c = a + b

    document.getElementById("num_a").innerHTML = a;
    document.getElementById("num_b").innerHTML = b;

    function Validate(){

        var d = document.getElementById('result').value;

        if (d == c)
        {
           document.getElementById("email").innerHTML=(function(i,a,b,c){for(;i<b.length;++i)a+=String.fromCharCode(b.charCodeAt(i)^+c.substr(i*3,3));return unescape(a);})(0,'',"JrDzo6deccHHv1jgO","038027049008011015085037004014041033026031009008034") 
        }
        else
        {
            alert("Feel sorry for your math teacher.");
        }

    }

    </script>



{% endblock content %}
